
<% if flash[:notice].present? %>
  <div style="background-color: rgba(144, 238, 144, 0.5) !important;padding: 1%;text-align: center;">
    <%= flash[:notice] %>
  </div>
<% end %>

<table>
  <thead>
     <tr>
       <th>Name</th>
       <th>Address</th>
       <th>Phone No</th>
       <th>Email</th>
       <th>Age</th>

     </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
         <td><%= user.address %></td>
          <td><%= user.phone_no %></td>
           <td><%= user.email %></td>
            <td><%= user.age %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <h4>
    Import that data!
  </h4>
  <%= form_tag import_users_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>
